{% load static %}
{% load humanize %}
{% load leaderboard_calc %}
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'leaderboard.css' %}">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid section-wrapper">
                    <div class="mdl-cell mdl-cell--12-col section-top-wrapper">
                        <div class="twitter-logo">
                            <a href="https://twitter.com/btc_leaderboard" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                        <div class="page-heading-wrapper">
                            <div class="page-heading">
                                <span class="bitcoin-yellow">.btc</span>&nbsp;Leaderboard&nbsp;<span
                                    class="bitcoin-logo">₿</span>
                            </div>
                            <div class="page-subheading">
                                The most followed Twitter accounts with <span class="emphasis">.btc</span> names
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col rank-wrapper mdl-cell--hide-phone">
                        <div>
                            <div class="rank-header">&gt;&nbsp;{{ top_10_rank_floor|millify_val }}</div>
                            <div class="rank-details">Followers For <span class="emphasis">Top 10</span></div>
                        </div>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--2-col-phone rank-wrapper mdl-cell--hide-tablet mdl-cell--hide-desktop">
                        <div>
                            <div class="rank-header">&gt;&nbsp;{{ top_10_rank_floor|millify_val }}</div>
                            <div class="rank-details"><span class="emphasis">Top 10</span></div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col rank-wrapper mdl-cell--hide-phone">
                        <div>
                            <div class="rank-header">&gt;&nbsp;{{ top_100_rank_floor|millify_val }}</div>
                            <div class="rank-details">Followers For <span class="emphasis">Top 100</span></div>
                        </div>
                    </div>
                    <div
                        class="mdl-cell mdl-cell--2-col-phone rank-wrapper mdl-cell--hide-tablet mdl-cell--hide-desktop">
                        <div>
                            <div class="rank-header">&gt;&nbsp;{{ top_100_rank_floor|millify_val }}</div>
                            <div class="rank-details"><span class="emphasis">Top 100</span></div>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid content-wrapper">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                        <form id="search-form">
                            <input class="mdl-textfield mdl-js-textfield" placeholder="Search..." type="text"
                                value="{{ search_query }}" id="search-box" />
                            &nbsp;&nbsp;
                            <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                                <i class="material-icons">search</i>
                            </button>
                        </form>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                        <div class="res-count">Count: {{ page_obj.paginator.count }} names</div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                        <div class="pagination pagination-top">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">first_page</i>
                                    </button>&nbsp;&nbsp;&nbsp;
                                </a>
                                <a href="?page=1&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">chevron_left</i>
                                    </button>
                                </a>
                                {% endif %}
                                <span class="current">
                                    &nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of
                                    {{ page_obj.paginator.num_pages }}&nbsp;&nbsp;&nbsp;
                                </span>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">chevron_right</i>
                                    </button>&nbsp;&nbsp;&nbsp;
                                </a>
                                <a href="?page={{ page_obj.paginator.num_pages }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">last_page</i>
                                    </button>
                                </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="table-wrapper">
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Twitter</th>
                                        <th>Followers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for detail in page_obj %}
                                    <tr>
                                        <td>{{ forloop.counter|rank:page_obj.number }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ detail.twitter_name }}</td>
                                        <td class="mdl-data-table__cell--non-numeric tw-link">
                                            <a href="https://twitter.com/{{ detail.twitter_username }}" target="_blank">
                                                @{{ detail.twitter_username }}
                                            </a>
                                        </td>
                                        <td>{{ detail.twitter_follower_count|intcomma }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="pagination pagination-bottom">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">first_page</i>
                                    </button>&nbsp;&nbsp;&nbsp;
                                </a>
                                <a href="?page=1&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">chevron_left</i>
                                    </button>
                                </a>
                                {% endif %}
                                <span class="current">
                                    &nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of
                                    {{ page_obj.paginator.num_pages }}&nbsp;&nbsp;&nbsp;
                                </span>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">chevron_right</i>
                                    </button>&nbsp;&nbsp;&nbsp;
                                </a>
                                <a href="?page={{ page_obj.paginator.num_pages }}&query={{ search_query }}">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">last_page</i>
                                    </button>
                                </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <script>
                    document.querySelector("#search-form").onsubmit = (e) => {
                        e.preventDefault();
                        const text = document.querySelector("#search-box").value;
                        window.location.href = `/?query=${text}`;
                    };
                </script>
            </div>
        </main>
    </div>
</body>

</html>